body {
  display:flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: #2c3e50;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color:black;
}

main > *, header, footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

main {
  display: flex;
  min-height: 800px;
}

article {
  flex: 4 0 60%;
  background:#ecf0f1;
}

nav {
  flex: 1 1 20%;
  background: #95a5a6;
  order: -1;
}

aside {
  flex: 1 1 20%;
  background: #3498db;
}



header, footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100px;
  background: #1abc9c;;
  text-decoration: none;
}

footer {
  align-items: flex-start;
}

@media all and (max-width:640px){
  main {
    flex-direction: column;
    flex-grow:1;
  }
  nav{
    order:0;
  }
  header, footer {
    flex-basis: 50px;
  }
}